<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <title>InRoom Preview Visual Business Cards</title>
</head>

<body>
    <!-- ==============  HOME  ================ -->

    <a id="backToTopButton"></a>

    <section class="header">
        <nav>
            <!-- <p id="logo" >InRoom Preview</p> -->
            <a href="index.html" id="logo">InRoom Preview</a>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#howItWorks">HOW IT WORKS</a></li>
                    <li><a href="#aboutUs">ABOUT US</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#joinUs">JOIN US</a></li>
                    <li><a href="../Templates/editor.html">CREATE NOW</a></li>
                </ul>
            </div>
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>

        <!-- CAROUSEL -->
        <div class="document-center">
            <div class="carousel-container">
                <div class="carousel" id="carousel-1" auto-scroll="1100">

                    <section class="carousel-screen">
                        <img src="../Images/template1.jpg" alt="template1" />
                        <section class="text-container">

                        </section>
                    </section>

                    <section class="carousel-screen">
                        <img src="../Images/template2.jpg" alt="template2" />
                        <section class="text-container">
                        </section>
                    </section>

                    <section class="carousel-screen">
                        <img src="../Images/template3.jpg" alt="template3" />
                        <section class="text-container">
                        </section>
                    </section>

                    <section class="carousel-screen">
                        <img src="../Images/template5.jpg" alt="template5" />
                        <section class="text-container">
                        </section>
                    </section>

                    <section class="carousel-screen">
                        <img src="../Images/template6.jpg" alt="template6" />
                        <section class="text-container">
                        </section>
                    </section>



                    <section class="circle-container">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </section>
                    <div class="left-arrow">
                        <span class="chevron left"></span>
                    </div>
                    <div class="right-arrow">
                        <span class="chevron right"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- END OF CAROUSEL -->

        <div class="text-box">
            <h1 class="title">Visual Business Cards</h1>
        </div>

    </section>


    <!-- ============   HOW IT WORKS   ============= -->

    <section id="howItWorks" class="how-it-works">
        <h1>How it works ?</h1>
        <p>Create your own business card, following these steps.</p>

        <div class="row">
            <div class="step">
                <h3>1</h3>
                <h3>Create Account</h3>
                <p>This is optional. <a class="create-account" href="#joinUs"> Click here to join us.</a></p>
            </div>

            <div class="step">
                <h3>2</h3>
                <h3>Choose Template</h3>
                <p>Artist ? Photographer ? Choose a template by your own preference.</p>
            </div>

            <div class="step">
                <h3>3</h3>
                <h3>Start Editing</h3>
                <p>Design your card by choosing a template and inserting information.</p>
            </div>

            <div class="step">
                <h3>4</h3>
                <h3>Save To Device</h3>
                <p>You can download the final version of your card.</p>
            </div>

            <div class="step">
                <h3>5</h3>
                <h3>Contact Us</h3>
                <p>For further collaboration, feel free to send us an email.</p>
            </div>
        </div>
    </section>

    <!-- ============    ABOUT US   ============= -->

    <section id="aboutUs" class="about-us">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolorum totam quod corporis, pariatur maiores laboriosam repellat nihil veritatis doloremque quam provident voluptates quibusdam ipsum saepe! Reiciendis sit vitae consequuntur.</p>

        <div class="row">
            <div class="about-us-col">
                <img src="../Images/about-us-1.jpg" alt="about-us">

                <div class="layer1">
                    <h3 class="about-us-title">Our Story <br> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facilis, nemo veritatis consequatur, illo eum tempore natus eius assumenda accusamus molestiae odit porro odio non sequi delectus exercitationem!
                    </h3>
                </div>
            </div>

            <div class="about-us-col">
                <img src="../Images/about-us-2.jpg" alt="about-us">
                <div class="layer1">
                    <h3 class="about-us-title">Our Vision <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facilis, nemo veritatis consequatur, illo eum tempore natus eius assumenda accusamus molestiae odit porro odio non sequi delectus exercitationem!
                    </h3>
                </div>

            </div>

            <div class="about-us-col">
                <img src="../Images/about-us-3.jpg" alt="about-us">

                <div class="layer1">
                    <h3 class="about-us-title">Our Work <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facilis, nemo veritatis consequatur, illo eum tempore natus eius assumenda accusamus molestiae odit porro odio non sequi delectus exercitationem!
                    </h3>
                </div>
            </div>

        </div>
    </section>


    <br><br><br><br><br><br><br><br>

    <!-- ============    CONTACT   ============= -->

    <section id="contact" class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, dolore. Ea accusamus reprehenderit, numquam reiciendis ipsum voluptatibus blanditiis cum similique. Dignissimos dolor odit corrupti optio sapiente architecto non pariatur expedita.</p>
        </div>
        <div class="container">
            <div class="ContactInfo">
                <div class="box">
                    <div class="icon">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p class="changeColor">example@test.com</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p class="changeColor">0223232323</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p class="changeColor">Street Name Example</p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form>
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full name</span>
                    </div>

                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>

                    <div class="inputBox">
                        <textarea required="required"></textarea>
                        <span>Type your message...</span>
                    </div>

                    <div class="inputBox">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <br><br><br>

    <!-- =================   JOIN US    ================ -->

    <section id="joinUs" class="join-us">
        <div id="login-form" class="login-page">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" id="login-btn" onclick="login()">Log In</button>
                    <button type="button" class="toggle-btn" id="register-btn" onclick="register()">Register</button>

                    <form id="login" class="input-group-login">
                        <input type="text" class="input-field" placeholder="Email" required="required">
                        <br><br>
                        <input type="password" class="input-field" placeholder="Password" required="required">
                        <br><br><br><br><br>
                        <button type="submit" class="submit-btn">Log In</button>
                    </form>

                    <form id="register" class="input-group-register">
                        <input type="text" class="input-field" placeholder="First Name" required="required">
                        <input type="text" class="input-field" placeholder="Last Name" required="required">
                        <input type="email" class="input-field" placeholder="Email" required="required">
                        <input type="password" class="input-field" placeholder="Enter password" required="required">
                        <input type="password" class="input-field" placeholder="Confirm password" required="required">
                        <br><br><br>
                        <button type="submit" class="submit-btn">Register</button>

                    </form>
                </div>

            </div>
        </div>
    </section>



    <!-- ================   FOOTER   =================== -->



    <footer>
        <div class="footer-content">
            <h3>InRoom Preview</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi optio tempora pariatur aperiam officiis, aliquid illum non quam est magnam impedit nulla perferendis quos eveniet unde eaque dolorum exercitationem.</p>
        </div>
        <ul class="socialas">
            <li><a href="https://www.facebook.com/inroompreview/"><i class="fab fa-facebook"> &nbsp; Facebook</i></a>
            </li>
            <li><a href="https://www.instagram.com/inroompreview/"><i class="fab fa-instagram"></i>&nbsp;Instagram</a>
            </li>
            <li><a href="https://www.linkedin.com/company/inroompreview/about/"><i
                        class="fab fa-linkedin-in"></i>&nbsp;Linkedin</a></li>
        </ul>
        <br><br>
        <div class="footer-bottom">
            <p>Copyright &copy;2021 InRoom Preview</p>
        </div>
    </footer>




    <!-- ===============================    JAVASCRIPT    ============================ -->

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'>
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/log.js"></script>
</body>

</html>